1. [Dataset Description](README.md)
2.  <a href="#asses">Data Assessing</a>
3.  <a href="#clean">Data Cleaning</a>
    - <a href="#rename">Renaming Columns</a>
    - <a href="#dtype">Renaming Columns</a>
# Dataset Description:
This dataset collects information from 100k medical appointments in Brazil and is focused on the question of whether or not patients show up for their appointment. A number of characteristics about the patient are included in each row.* ***Patientid :*** The identification number of the patient.
* ***AppointmentID:*** The identification number of the appointment _Key Identifier_.
* ***Gender:*** _"M"_ for Male, and _"F"_ for Female.
* ***ScheduleDay:*** Tetells us on what day the patient set up their appointmen
* ***Age:*** The patient's age.
* ***Neighbourhood:*** I’ indicates the location of the hospit
* ***Scholaeship:*** Ip’ indicates whether or not the patient is enro in Brasilian welfare program [Bolsa Família](https://www.google.com/url?q=https://en.wikipedia.org/wiki/Bolsa_Fam%25C3%25ADlia&sa=D&source=editors&ust=1724087817860577&usg=AOvVaw2Q_qcF1o_XPTswzKDAbl1Q) .Where, _Enrolled = 1_ and _Not Enroled = 0_.
* ***Hipertension (HTN):*** Patients with high blood pressure. Where, _True = 1_ and _False = 0_.
* ***Diabetes (DM):*** Patients with high blood sugar levels. Where, _True = 1_ and _False = 0_.
* ***Alcoholism (AUD):*** Alcohol use disorder. Where, _True = 1_ and _False = 0_.
* ***Handcap (HCP):*** an illness, injury, or condition that makes it difficult for someone to do some things that other people do. Where, _True = 1_ and _False = 0_.
* ***SMS_received:*** 1 or more messages sent to the patient. Where, _True = 1_ and _False = 0_.
* ***No-show:*** _ay_ ‘No’ if the patient showed up to their appointment,_and_‘Yes’ if they did not show up.

In [229]:
# Importing Liberaries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<a id='asses'></a>
## 1- Data Assessing:

In [232]:
# Exploring data characteristics of the
df= pd.read_csv('no_show_appointments.csv')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [236]:
print('The dataset has a shape of:',df.shape)

The dataset has a shape of: (110527, 14)

In [238]:
if df.isna().sum().sum()== 0:
    print ('No NULL values in this dataset')
else:
    print('Total number of Null Values is: ',df.isna().sum().sum())

No NULL values in this dataset

In [240]:
if df.duplicated().sum()== 0:
    print ('No DUPLICATED values in this dataset')
else:
    print('Total number of Duplicated Values is: ',df.duplicated().sum())

No DUPLICATED values in this dataset

In [242]:
print('The number of UNIQUE values in this dataset:\n\n',df.nunique())

The number of UNIQUE values in this dataset:

 PatientId          62299
AppointmentID     110527
Gender                 2
ScheduledDay      103549
AppointmentDay        27
Age                  104
Neighbourhood         81
Scholarship            2
Hipertension           2
Diabetes               2
Alcoholism             2
Handcap                5
SMS_received           2
No-show                2
dtype: int64

In [244]:
print('"Gender" Categories:        ',df.Gender.unique())
print('\n"Scolarship" Categories:    ', df.Scholarship.unique())
print('\n"Hipertension" Category:    ', df.Hipertension.unique())
print('\n"Diabetes" Category:        ', df.Diabetes.unique())
print('\n"Alcoholism" Category:      ', df.Alcoholism.unique())
print('\n"Handcap" Category:         ', df.Handcap.unique())
print('\n"SMS_received" Category:    ', df['SMS_received'].unique())
print('\n"No-show" Category:         ', df['No-show'].unique())

"Gender" Categories:         ['F' 'M']

"Scolarship" Categories:     [0 1]

"Hipertension" Category:     [1 0]

"Diabetes" Category:         [0 1]

"Alcoholism" Category:       [0 1]

"Handcap" Category:          [0 1 2 3 4]

"SMS_received" Category:     [0 1]

"No-show" Category:          ['No' 'Yes']

<a id='clean'></a>
## 2 - Data Cleaning:

<a id='rename'></a>
### a) Renaming Column labels:
   
In order to investigate easily the columns  label nees to be changedas follows:
   * _PatientId_          to     ***patient_id***
   * _AppointmentID_      to     ***appoint_id***
   * _Gender_             to     ***gender***
   * _ScheduledDay_       to     ***sched_day***
   * _AppointmentDay_     to     ***appoint_day***
   * _Age_                to     ***age***
   * _Neighbourhood_      to     ***neighbourhood***
   * _Scholarship_        to     ***scholarship***
   * _Hipertension_       to     ***htn***
   * _Diabetes_           to     ***dm***
   * _Alcoholism_         to     ***aud***
   * _Handcap_            to     ***hcp***
   * _SMS_received_       to     ***sms_received***
   * _No-show_            to     ***no_show***

In [248]:
# Renaming country column in  Female Literacy Rate
df = df.rename(columns = {"PatientId":"patient_id", "AppointmentID":"appoint_id", 'Gender':"gender","ScheduledDay":"sched_day",
                           "AppointmentDay":"appoint_day","Age":"age", "Neighbourhood":"neighbourhood", "Scholarship":"scholarship",
                           "Hipertension":"htn", "Diabetes":"dm", "Alcoholism":"aud","Handcap":"hcp", "SMS_received":"sms_received","No-show":"no_show"})
df.head(1)

,patient_id,appoint_id,gender,sched_day,appoint_day,age,neighbourhood,scholarship,htn,dm,aud,hcp,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No

<a id='dtype'></a>
### b) Changing the data types of:
- _patient_id_ to ***integer***
- _sched_day_ & _appoint_day_ to ***date format***

In [251]:
df['patient_id'] = df['patient_id'].astype('int64')
df['sched_day'] = pd.to_datetime(df['sched_day']).dt.date
df['appoint_day'] = pd.to_datetime(df['appoint_day']).dt.date
df.head(1)

,patient_id,appoint_id,gender,sched_day,appoint_day,age,neighbourhood,scholarship,htn,dm,aud,hcp,sms_received,no_show
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   patient_id     110527 non-null  int64
 1   appoint_id     110527 non-null  int64
 2   gender         110527 non-null  object
 3   sched_day      110527 non-null  object
 4   appoint_day    110527 non-null  object
 5   age            110527 non-null  int64
 6   neighbourhood  110527 non-null  object
 7   scholarship    110527 non-null  int64
 8   htn            110527 non-null  int64
 9   dm             110527 non-null  int64
 10  aud            110527 non-null  int64
 11  hcp            110527 non-null  int64
 12  sms_received   110527 non-null  int64
 13  no_show        110527 non-null  object
dtypes: int64(9), object(5)
memory usage: 11.8+ MB

### c) Inserting New Columns in the dataset:
- ***date_diff:*** To measure the difference in days between  _The Schedule Date_ and _The Appointment Date_.
- ***age_stages:*** groupping the _age_ column according to the different stages of human life, as follows:
    - **child:** Ages from _0_ to _12_
    - **teenage:** Ages greater than _12_ to _21_
    - **adult:** Ages greater than _21_ to _40_
    - **middle_age:** Ages greater than _40_ to _65_
    - **elderly:** Ages greater than _65_

In [256]:
# Inserting the "date_diff" column:
df['date_diff']= (df['appoint_day']- df['sched_day']).dt.days
df.head(1)

,patient_id,appoint_id,gender,sched_day,appoint_day,age,neighbourhood,scholarship,htn,dm,aud,hcp,sms_received,no_show,date_diff
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,0

In [262]:
# relocating the "date_diff" column to be in the 5th column:
df.insert(5,'date_diff',df.pop('date_diff'))
df.head(1)

,patient_id,appoint_id,gender,sched_day,appoint_day,date_diff,age,neighbourhood,scholarship,htn,dm,aud,hcp,sms_received,no_show
0,29872499824296,5642903,F,2016-04-29,2016-04-29,0,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [268]:
# Inserting the "age_stages" column:
df['age_stages']= ['child' if x <= 12
                   else 'teenage' if 12 < x <= 21
                   else 'adult' if 21 < x <= 40
                   else 'middle_age' if 40 < x <= 65
                   else 'elderly' for x in df['age']]
df.head()

,patient_id,appoint_id,gender,sched_day,appoint_day,date_diff,age,neighbourhood,scholarship,htn,dm,aud,hcp,sms_received,no_show,age_stages
0,29872499824296,5642903,F,2016-04-29,2016-04-29,0,62,JARDIM DA PENHA,0,1,0,0,0,0,No,middle_age
1,558997776694438,5642503,M,2016-04-29,2016-04-29,0,56,JARDIM DA PENHA,0,0,0,0,0,0,No,middle_age
2,4262962299951,5642549,F,2016-04-29,2016-04-29,0,62,MATA DA PRAIA,0,0,0,0,0,0,No,middle_age
3,867951213174,5642828,F,2016-04-29,2016-04-29,0,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,child
4,8841186448183,5642494,F,2016-04-29,2016-04-29,0,56,JARDIM DA PENHA,0,1,1,0,0,0,No,middle_age

In [270]:
# relocating the "age_stages" column to be in the 6th column:
df.insert(6,'age_stages',df.pop('age_stages'))
df.head(1)

,patient_id,appoint_id,gender,sched_day,appoint_day,date_diff,age_stages,age,neighbourhood,scholarship,htn,dm,aud,hcp,sms_received,no_show
0,29872499824296,5642903,F,2016-04-29,2016-04-29,0,middle_age,62,JARDIM DA PENHA,0,1,0,0,0,0,No